<style>
.fade-in {
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}
.fade-in1 {
  animation: fadeIn 2.3s;
  -webkit-animation: fadeIn 2.3s;
  -moz-animation: fadeIn 2.3s;
  -o-animation: fadeIn 2.3s;
  -ms-animation: fadeIn 2.3s;
}
@keyframes fadeIn {
  0% { opacity: 0; transform: skew(25deg, 25deg); }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
</style>
<div class="fade-in">
<h2>Status</h2> 
</div>
<div id="status">
<a href="https://status.serverboi.org/" target="_blank">
<img alt="Website" src="https://img.shields.io/website?down_color=red&down_message=offline&label=website&up_color=brightgreen&up_message=online&url=https://serverboi.org"> <img alt="Proxy" src="https://img.shields.io/website?down_color=red&down_message=offline&label=proxy%20&up_color=brightgreen&up_message=online&url=https://api.serverboi.org"> <img alt="Files" src="https://img.shields.io/website?down_color=red&down_message=offline&label=file%20server&up_color=brightgreen&up_message=online&url=https://od.serverboi.org">
</a>
</div>
<div class="fade-in">
<h2>About</h2> 
</div>
<div class="fade-in1">
<p>This is a simple documentation site for my <a  href="https://github.com/JakeTurner616" target="_blank" rel="nofollow">github repos</a> and other programming projects. This website is 100% open source.</p>
</div>
<div class="fade-in">
<h2>License</h2> 
</div>
<div class="fade-in1">
<p>This work is published under MIT License.</p>
</div>
