<div id="gameDiv"></div>
<html>
  <center>
    <style>
      html, body {margin: 0; height: 100%;}
      #core-wrapper > div > div > center:nth-child(2) > div > iframe {
      border: 2px solid;
      border-color: #000; 
      }
      .post > p:nth-child(1) {
      padding-top: 60px;
      }
      a:hover {
      color: #d2603a;
      }
     </style> 
    <iframe name="gameFrame" id="gameFrame" src="https://serverboi.org/js13k-2024" height="725px" width="100%" allowfullscreen="" frameborder="0">
    </iframe>
  </center>
</html>
