<body>
<noscript>
<style>
.uploader-div {
visibility: hidden;
display: none;
}
</style>
 <p>This page requires JavaScript</p><a href="https://serverboi.org/posts/Upload" target="_blank">Retry ↻</a><p>.</p> 
</noscript>
  <div class="uploader-div">
        <iframe name="status" id="status" src="https://hcap.serverboi.org" style="border: 1px solid white;" height="645px" width="100%" allowfullscreen="" scrolling="no">
        </iframe>
 </div>   
<style>
  #status {
  overflow: hidden;
    
}
</style>
</body>
