<head>
  <meta charset="utf-8">
  <meta content="#27282B" name="theme-color">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">

  <!-- SEO and Social -->
  <title>{{ page.title | default: site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  {% seo %}

  <!-- Favicon -->
  {% include favicons.html %}

  <!-- Fonts and Libraries -->
  <link rel="stylesheet" href="{{ site.data.assets[origin].webfonts | relative_url }}">
  <link rel="stylesheet" href="{{ site.data.assets[origin].bootstrap.css | relative_url }}">
  <link rel="stylesheet" href="{{ site.data.assets[origin].fontawesome.css | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

  <!-- TOC CSS -->
  {% if site.toc and page.toc %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tocbot@4.18.2/dist/tocbot.css">
  {% endif %}

  {% if page.layout == 'page' or page.layout == 'post' %}
    <link rel="stylesheet" href="{{ site.data.assets[origin].magnific-popup.css | relative_url }}">
  {% endif %}

  <!-- Scripts -->
  <script src="{{ site.data.assets[origin].jquery.js | relative_url }}"></script>
  {% unless site.theme_mode %}
    {% include mode-toggle.html %}
  {% endunless %}

  <!-- Analytics (example) -->
  <script defer src="/assets/js/javascripts/analytics.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/tocbot@4/dist/tocbot.min.js"></script>

  <link rel="stylesheet" href="{{ '/assets/css/toc.css' | relative_url }}">


  <noscript>
    <p><img src="//analytics.serverboi.org/matomo.php?idsite=1&rec=1" style="border:0;" alt="" /></p>
  </noscript>
</head>
