<div id="megaromserver"></div>
<html>
  <center>
    <style>
      #core-wrapper > div > div > center:nth-child(2) > div > iframe {
      border: 2px solid;
      border-color: #000; 
      }
     </style> 
<div class="video-container">
    <iframe src="https://files.serverboi.org/s/MEGAROMSERVER" height="625px" width="100%" allowfullscreen="" frameborder="0">
    </iframe>
</div>
  </center>
</html> 
<noscript>
  <style>
      #core-wrapper > div > div > center:nth-child(2) > div > iframe {
     visibility: hidden;
      }
   </style> 
</noscript> 
