<html>
<style>
#core-wrapper > div > div > center:nth-child(5) > p:nth-child(2) > iframe {
  position: relative;
}
</style>
  <body>
    <center>  
        <script src="_includes/readout.js/">
        </script>
      <p>
        <div id="linkDiv">
        <a href=
"https://tb.serverboi.org" target="iframe2" id="Link">
          Compute disk usage
        </a>
          </div>
        </p>
      <p>
        <iframe allowtransparency="true" seamless
              name="iframe2"
              id="iframe2"
              width="auto" height="30px" frameborder="0" scrolling="no" src="https://tb.serverboi.org"  loading="lazy">
      </iframe>
      </p>
    </center>
  </body>
</html>


 
  

