
<script>
window.confirm("This page contains shareware, abandonware, uncurrated or even potentially dangerous software!");
  if (confirm("User must acknowledge proceeding is ONLY encouraged for academic or otherwise educational intentions.")) {
  //USER AGREES
} else {
  window.location.href = "/";
} 
</script>
  <body>
    <center>
       <iframe src="" 
              name="iframe2" 
              width="70%" height="300">
      </iframe>
      <p>
        <a href=
"https://tb.serverboi.org" target="iframe2">
          Compute disk size
        </a>
      </p>
    </center>
  </body>


 
  

