
<style>
#core-wrapper > div > div > center:nth-child(5) > p:nth-child(2) > iframe {
  position: relative;
}
</style>  
<script>
window.confirm("This page contains shareware, abandonware, uncurrated or even potentially dangerous software!");
  if (confirm("User must acknowledge proceeding is ONLY encouraged for academic or otherwise educational intentions.")) {
  //USER AGREES
} else {
  window.location.href = "/";
} 
  $(document).ready(function(){
    $("#iframe2").hide();
    $("#Link").click(function(){
       $("#linkDiv").hide();
       $("#iframe2").show()
        return false;
    });
});
</script>
  <body>
    <center>
      <p>
        <div id="linkDiv">
        <a href=
"https://tb.serverboi.org" target="iframe2" id="Link">
          Compute disk usage
        </a>
          </div>
        </p>
      <p>
        <iframe allowtransparency="true" seamless
              name="iframe2"
              id="iframe2"
              width="auto" height="30px" frameborder="0" scrolling="no" src="https://tb.serverboi.org">
      </iframe>
      </p>
    </center>
  </body>



 
  

