<p>Self-hosted fully-integrated and easy way to work with Stable Diffusion right from a browser window. Has access to all upscaling models, including LSDR with Dynamic prompt entry.</p>
<body>
<h1 data-toc-skip="">Stable Diffusion WebUI</h1>
<style>
  #core-wrapper.col-12.col-lg-11.col-xl-9.pr-xl-4.pb-5 div.post.pl-1.pr-1.pl-md-2.pr-md-2 p {
  visibility: hidden;
  display: none;
}
 .resizer { display:flex; margin:0; padding:0; resize:vertical; overflow:hidden; max-height:2900px; min-height:710px;}
.resizer > .resized { flex-grow:1; margin:0; padding:0; border:0 }

.ugly { height:710px; background:transparent; border:1px solid black; }
  div#space { padding: 20px; margin: 20px;}
</style>
<div class="resizer ugly" style="width: 750px;">
  
 <iframe class="resized" name="status" id="status" src="https://ai.serverboi.org" allowfullscreen="" scrolling="no" height="auto" frameborder="0">
</div>

  </div>
  <div class="space">
    </div>
</body>

