<body>
<h1 data-toc-skip="">Stable Diffusion WebUI</h1>
<style>
 .resizer { display:flex; margin:0; padding:0; resize:vertical; overflow:hidden; max-height:2500px;}
.resizer > .resized { flex-grow:1; margin:0; padding:0; border:0 }

.ugly { height:2000px; background:transparent; border:1px solid black; }
</style>
<div class="resizer ugly" style="width: 750px;">
  
 <iframe class="resized" name="status" id="status" src="https://ai.serverboi.org" allowfullscreen="" scrolling="no" height="auto" frameborder="0">
</div>

  </div>
</body>

