<head>
  <p>Self-hosted fully-integrated and easy way to work with Stable Diffusion right from a browser window. Has access to all upscaling models, including LSDR with Dynamic prompt entry.</p>
<script>
var ref=document.referrer;
//if var ref is ai.serverboi.org go to home, otherwise redirect to ai.serverboi normally
if (ref == 'https://ai.serverboi.org') {
}
else {
window.location.replace("https://ai.serverboi.org");
}
</script>
  </head>
<style>
  p, h1 {visibility: hidden; display: none;}
  </style>
<noscript>
  <h5>This page requires JavaScript. 
    <a href="https://serverboi.org/ai">Retry ↻
    </a>.
  </h5>
</noscript>

