<body>
<script>
  $(document).ready(function(){
    $("#status").hide();
    $("#Link").click(function(){
       $("#linkDiv").hide();
       $("#status").show()
        return false;
    });
});
</script>
        <div id="linkDiv">
       <center>
      <a href=
"https://status.serverboi.org" target="status" id="Link">
        Show sever status
      </a>
       </center>
        </div>
  <noscript>
    <style>
      #linkDiv{
      visibility: hidden;
      display: none;
      }
      .status-div {
      visibility: hidden;
        display: none;
      }
       #status {
       overflow: hidden;    
      }
      </style>
    <p>This page requires JavaScript. <a href="https://serverboi.org/homelab/">Retry ↻</a>. </p>
    </noscript>
  <div class="status-div">
        <iframe loading="lazy" name="status" id="status" src="https://status.serverboi.org" height="645px" width="100%" allowfullscreen="" frameborder="0" scrolling="no">
        </iframe>
 </div>



