{% assign enable_toc = false %}
{% if site.toc and page.toc %}
  {% if page.content contains '<h2' or page.content contains '<h3' %}
    {% assign enable_toc = true %}
  {% endif %}
{% endif %}

{% if enable_toc %}
<!-- Tocbot will be loaded dynamically -->
<script src="https://cdn.jsdelivr.net/npm/tocbot@4/dist/tocbot.min.js"></script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    tocbot.init({
      tocSelector: '#toc',
      contentSelector: '.post-content',
      headingSelector: 'h2, h3',
      collapseDepth: 2,
      scrollSmooth: false,
    });
  });
</script>

<div id="toc-wrapper" class="pl-0 pr-4 mb-5">
  <div class="panel-heading pl-3">{{- site.data.locales[site.lang].panel.toc -}}</div>
  <nav id="toc"></nav>
</div>
{% endif %}
